.app-navbar{
  background-color: #032541;
}

.app-navbar-brand{
  background: linear-gradient(
    to right,
    rgba(40,213,109,1) 0%,
    rgba(1,200,220,1) 100%
  ) !important;
  background-clip: text;

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}